{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "extends": "airbnb-base",
  "plugins": [
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "unicode-bom": [
      "error",
      "never"
    ],
    "no-var": "off",
    "no-shadow": "off",
    "func-names": "off",
    "vars-on-top": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "global-require": "off",
    "no-confusing-arrow": "off",
    "object-curly-newline": "off",
    "no-restricted-syntax": "off",
    "prefer-arrow-callback": "off",
    "import/no-dynamic-require": "off"
  }
}
